.category-list {

    .category-box {
        text-align: center;
        background-color: white;
        border-radius: 3px;
        box-sizing: border-box;
        box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.03);
        margin: 0 .8% 20px;
        padding: 3em 2em;
        cursor: pointer;
        vertical-align: top;
        transition: .15s;
        position: relative;

        &:hover {
            background: white;
            transition: .15s;
            box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125);
            cursor: pointer;
            transform: translateY(-10px);
        }
    }

    .category {
        h3 {
            color: #1b1b1b;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.3em;
            font-family: "Barlow", sans-serif;
            text-decoration: none;

            &:before {
                display: block;
                cursor: pointer;
                margin: 0 auto 40px;
                width: 50px;
                height: 50px;
                filter: invert(77%) sepia(79%) saturate(2790%) hue-rotate(1deg) brightness(104%) contrast(104%);

            }
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #1b1b1b;
            line-height: 24px;
            margin: 0 auto;
            text-decoration: none;
        }

        .article-count {
            color: #0044C0;
            margin-top: 15px;
        }

    }
}

.category-section {
    padding: 40px 0;
    overflow: hidden;
}

.category-form {
    .input-group {
        position: relative;

        input {
            font-family: 'Roboto', sans-serif;
            display: block;
            border: 1px solid #e9e9e9;
            display: block;
            width: 100%;
            margin: 0;
            padding-right: 35px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            height: 40px;
            border: 1px solid #D0D0D0;
            border-radius: 3px;
            color: #666;
            padding: 0 14px;

        }

        span {
            top: 50%;
            right: 20px;
            position: absolute;
            color: #666;
            transform: translate(0, -50%);
            font-size: 16px;
        }
    }
}

.Categories-list {
    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        color: #1b1b1b;
        font-weight: 600;
        margin-bottom: 4px;
        padding-top: 30px;
        font-family: "Roboto", sans-serif;
    }

    .category-nav-list {
        margin-bottom: 34px;
        padding-left: 0;

        li {
            margin: 2px 0 3px;
            list-style: none;

            a {
                display: inline-block;
                color: #858585;
                font-size: 13px;
                font-weight: 400;
                padding: 6px 15px 6px 0;
                line-height: 20px;
                margin-left: 0;

                i {
                    display: none;
                    margin-left: 5px;
                }

                &:hover {
                    color: #222;

                    i {
                        display: inline-block;
                        color: orange;
                    }
                }
            }

            &.active {
                a {
                    color: #222;
                    font-weight: 600;

                    i {
                        display: inline-block;
                        color: orange;
                    }
                }
            }

        }
    }
}

.category-content { 
    background: #fff;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.03);
    // border: solid 1px #F5F5F5;
    color: #222;
    min-height: 460px;
    padding: 45px 46px;
    margin-left: 28px; 
    position: relative;

    .content-wrapper {
        display: flex;
        justify-content: space-between;

    }
}
.details-wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    i {
        color:#C6C6C6;
        font-size:16px;
        text-decoration: none;
    }
}
.details-content {
    p {
        color:#1b1b1b;
        font-size:14px;
        line-height: 22px;
    }
    ol {
        color:#1b1b1b;
        font-size:14px;
        line-height: 22px;
    }
    a {
        color:#0044C0; 
    }
}
.category-header {
    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        margin-top: 0;
        font-size: 30px;
        line-height: 1.2em;
        color: #222;
        margin-bottom: 15px;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 0px;
        color: #757575;
    }
   

}

.category-sort {
    .nice-select {
        border: 1px solid #ccc;
        background: #fff;
        padding: 8px 15px;
        font-size: 12px;
        line-height: 15px;
        height: 30px;
        width: 158px;
    }

}

.content-article-list {
    padding-left: 0;

    li {
        list-style: none;
        margin: 1.4em 0;
        padding-left: 0px;

        a {
            color: #0044C0;
            font-weight: normal;
            margin-bottom: 6px;
            i{
                color: #C6C6C6;
                margin-right: 10px;
            }
        }
        p {
            font-size: 14px;
            color: #585858;
            line-height: 24px;
            padding-left:20px;
        }
    }

}

#category-8 {
    h3 {
        &:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 18h-2v-8h2v8zm-1-12.25c.69 0 1.25.56 1.25 1.25s-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25.56-1.25 1.25-1.25z"/></svg>');
        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-9 {
    h3 {
        &:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M20.822 18.096c-3.439-.794-6.64-1.49-5.09-4.418 4.72-8.912 1.251-13.678-3.732-13.678-5.082 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-3.073.71-3.188 2.236-3.178 4.904l.004 1h23.99l.004-.969c.012-2.688-.092-4.222-3.176-4.935z"/></svg>');

        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-10 {
    h3 {
        &:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M4.559 7l4.701-4.702c.198-.198.459-.298.72-.298.613 0 1.02.505 1.02 1.029 0 .25-.092.504-.299.711l-3.26 3.26h-2.882zm12 0h2.883l-4.702-4.702c-.198-.198-.459-.298-.72-.298-.613 0-1.02.505-1.02 1.029 0 .25.092.504.299.711l3.26 3.26zm3.703 4l-.016.041-3.598 8.959h-9.296l-3.597-8.961-.016-.039h16.523zm3.738-2h-24v2h.643c.535 0 1.021.304 1.256.784l4.101 10.216h12l4.102-10.214c.234-.481.722-.786 1.256-.786h.642v-2zm-14 5c0-.552-.447-1-1-1s-1 .448-1 1v3c0 .552.447 1 1 1s1-.448 1-1v-3zm3 0c0-.552-.447-1-1-1s-1 .448-1 1v3c0 .552.447 1 1 1s1-.448 1-1v-3zm3 0c0-.552-.447-1-1-1s-1 .448-1 1v3c0 .552.447 1 1 1s1-.448 1-1v-3z"/></svg>');


        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-11 {
    h3 {
        &:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M22 6v16h-20v-16h20zm2-6h-24v24h24v-24zm-16 9h-4v4h4v-4zm6 0h-4v4h4v-4zm6 0h-4v4h4v-4zm-12 6h-4v4h4v-4zm6 0h-4v4h4v-4z"/></svg>');

        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-12 {
    h3 {
        &:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16"><path d="M12,18H6V14h6m9,0V12L20,7H4L3,12v2H4v6H14V14h4v6h2V14M20,4H4V6H20Z" transform="translate(-3 -4)"/></svg>');

        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-13 {
    h3 {
        &:before {
            display: block;
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M3.33337 9.33333L8.66671 2V6.66667H12L6.66671 14V9.33333H3.33337Z"/></svg>');

        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-14 {
    h3 {
        &:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M12 10c-3.865 0-7 3.134-7 7s3.135 7 7 7 7-3.134 7-7-3.135-7-7-7zm0 12c-2.762 0-5-2.239-5-5s2.238-5 5-5 5 2.239 5 5-2.238 5-5 5zm1.484-4.315l1.516-1.457-2.083-.287-.917-1.892-.917 1.892-2.083.287 1.516 1.457-.369 2.07 1.853-.992 1.854.992-.37-2.07zm-5.484-17.685l5.958 8h-3.958l-6-8h4zm6.604 7.194l5.396-7.194h-4l-3.376 4.534 1.98 2.66z"/></svg>');

        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}

#category-15 {
    h3 {
        &:before {
            display: block;
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>');


        }

        &:hover:before {
            filter: invert(51%) sepia(81%) saturate(1511%) hue-rotate(0deg) brightness(102%) contrast(106%);
        }
    }
}