.footer-section {

    p {
        text-align: center;
        font-size: 12px;
        color: #9b9b9b;
        text-align: center;
        margin: 20px 0px 40px 0px;
        
    }

    a {
        color: #9b9b9b;
        &:hover{
            color: #222;
        }
    }

}