.header-section {
    background: #0A3638;
    padding:20px 0;
   
   
    img {
        width: 100px;
        
    }
     .logo{
        margin-left: -20px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 200;
        color: #777;
        text-shadow: 0 1px 0 #fff;
    }
}
.main-menu {
    text-align: right;
    ul {
        li{
            display: inline-block; 
            a {
                color:#fff;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none; 
                padding: 0px 13px;
                line-height: 24px;
            }
        }
    }
}



