.header-section {
    background: #0A3638;
    .navbar-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    img {
        width: 100px;
        
    }
     .logo{
        padding: 20px 20px;
        margin-left: -20px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 200;
        color: #777;
        text-shadow: 0 1px 0 #fff;
    }
}
.main-menu {
    ul {
        li{
            a {
                color:#fff;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none; 
            }
        }
    }
}



